*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)),url(images/banner.png);
    background-size: cover;
    background-position: center;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

 logo{
     width: 140px;
     cursor: pointer;

}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: aliceblue;
}
.register-btn{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}
.container{
    padding: 0 7%;
}
.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}
.search-bar{
    background: #fff;
    width: 22%;
    margin: 30px auto;
    padding: 6px 10px 6px 10px;
    border-radius: 50px;
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button{
    background: #ff361f;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.location-input{
    flex: 1;
}
.search-bar form label{
    font-weight: 600;
}

/***********best properties**********/

.sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.bestproperties{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;

}
.bestproperties div img{
    width: 100%;
    border-radius: 10px;
}
.bestproperties div{
    position: relative;
}
.bestproperties div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}

/****************call to action**********/
.cta{
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent),url(images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}
.cta h3{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}
.cta p{
    font-size: 18px;
    margin: 10px, 0;
}
.cta-btn{
    background: #ff361f;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
    
}
/***************FOOTER*******************/
.footer{
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p{
    padding-bottom: 15px;

}

/*************************listing page*****************/
.navbar-white{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.navbar-white .nav-links li a{
    color: #000;
}
.navbar-white .register-btn{
    background: #ff361f;
    color: #fff;
}
.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.left-col{
    flex-basis: 60%;
}
.right-col{
    flex-basis: 35%;
}
.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}
.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;

}
.house-img{
    flex-basis: 40%;
}
.house-info{
    flex-basis: 58%;
    color: #555;
}
.house-img img{
    width: 100%;
    border-radius: 12px;

}
.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}

.house-info i{
    color: #ff361f;
    font-size: 18px;
    margin: 10px 1px;
}
.house-price{
    text-align: right;
}
.house-price h4{
    font-size: 20px;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}
.sidebar{
    border: 1px solid #999;
margin-top: 30px;
padding: 20px 30px;
}
.sidebar h2{
    font-weight: 500;
}
.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;   
}
.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}
.filter p{
    flex: 1;
}
.filter input{
    margin-right: 15px;
    cursor: pointer;
}
.sidebar-link{
    text-align: right;
    margin: 20px 0;
}
.sidebar-link a{
    text-decoration: none;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;

}
.right-arrow{
    transform: rotate(180deg);

}
.pagination img{
    width: 15px;
    margin: 10px 20px;
}
.pagination span{
   margin: 10px 8px;
   width: 40px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   border-radius: 50%;
   cursor: pointer;
}
.pagination .current{
    background: #333;
    color: #fff;
}

/************************HOUSE DETAILS PAGE********************/
.house-details{
    padding: 0 12%;
}
.house-title{
    margin-top: 50px;
}

.house-title h1{
    font-weight: 600;
}
.house-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.house-title span{
    margin: 0 20px;
}
.house-title i{
    color: #ff361f;
    font-size: 14px;
}
.gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
    margin: 20px 0;

}
.gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.gallery-img-1{
    grid-area: first;
}
.small-details h2{
font-weight: 500;
}
.small-details h4{
    text-align: right;
    font-size: 22px;
}
.line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;

}
.rent-form{
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}
.rent-form label{
    display: block;
}
.rent-form div{
    padding: 20px;
}
.rent-form input{
    background: transparent;
    border: 0;
    outline: none;
}
.rent-form button{
    background: #ff361f;
    border: 0;
    outline: none;
color: #fff;
padding: 18px;
width: 350px;
border-radius: 8px;
font-size: 16px;
}
.rent-field{
    flex: 1;
}
.details-list{
    list-style: none;
    margin: 50px;
}
.details-list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}
.details-list li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
}
.details-list li i{
    position: absolute;
    top: 5px;
    left: -40px;
}
.map{
    margin: 50px 0;
}
.map iframe{
    width: 100%;
    margin-bottom: 30px;
}
.map h3{
    font-size:26px ;
    font-weight: 500;
    margin-bottom: 30px;
}
.map b{
    display: block;
    margin-bottom: 16px;
}
.landlord{
    display: flex;
    align-items: center;
}
.landlord img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;

}
.landlord h2{
    margin-bottom:10px ;
    font-weight: 500
    ;
}
.contact-landlord{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #ff361f;
    border-radius: 8px;
}